<!DOCTYPE html>
<html lang="{{.Lang}}">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{.Info.Desc}}">
<link rel="icon" type="image/png" href="/static/icon.png" sizes="192x192">
<link rel="alternate" hreflang="de" href="https://sveaimmel.com/de/">
<link rel="alternate" hreflang="en" href="https://sveaimmel.com">
<link rel="alternate" hreflang="x-default" href="https://sveaimmel.com">
<link rel="stylesheet" href="/static/main.css">
<title>{{.Info.Title}} 🎥 – {{.Info.PrintJobs}}</title>
<main>

    <nav class="langs">
    {{range .Langs}}
    <a {{if .IsActive}}class="active" {{end}}href="{{.Href}}">{{.Name}}</a>
    {{end}}
    </nav>

<h1><a href="{{.Home}}">{{.Info.Title}}</a>
<a href="{{.Home}}"><img alt="" class="logo" src="/static/logo.svg"></a>
</h1>
<div class="lead">
    {{range $i, $x := .Info.Jobs}}
    <span class="role">
        {{$x}}{{if and (eq $i 0) (gt (len $.Info.Jobs) 0)}},{{end}}
    </span>
    {{end}}
    </div>


<section id="services">
    <div class="col">
    {{.Services}}
    </div>
    <div class="right-i">
        <!--
    <a href="/about/svea.jpg" class="img-link" target="_blank">
👉 
        -->
        <img alt="Svea Immel" src="/about/svea.jpg">
    </div>
</section>

<div id="mail">
    <!--
    <span class="hand">👉</span>
    -->
    <a href="#mail">sverimmel@gmail.com</a>
    </div>



<div id="about">
<h2>{{.Sections.Title "about"}}</h2>
  {{.About}}
</div>

<section id="work">
    <!--
    <h2>Director of Photography</h2>
    -->
    <div class="work-grid">
    {{range .Work}}
    <article class="work">
        <div class="work-thumb">
            <a target="_blank" href="{{.Link}}"><img alt="{{.Title}}" src="{{.Thumb}}"></a>
        </div>
        <div class="work-info">
            <h3 class="work-title"><a target="_blank" href="{{.Link}}">{{.Title}}</a></h3>
            <div class="work-role">
                {{.Role}},&ensp;{{.Type}}
            </div>
        </div>
    </article>
    {{end}}
    </div>
</section>



<div id="experience">
    <!--
<h2>Projects</h2>
    -->
    <div class="experience-grid">
    {{range .Experience}}
    <div class="experience">
    <h3 class="year">{{.Year}}</h3>
        <ul class="experiences">
        {{range .Entries}}
            <li class="entry">
                <span class="exp-title">{{.Title}}</span>
                <span class="exp-extra">{{.Extra}}</span>
                <span class="exp-role">{{.Role}}</span>
                <span class="exp-type">{{.Type}}</span>
            </li>
        {{end}}
        </ul>
    </div>
    {{end}}
    </div>
</div>
<br>
<br>
<br>
<br>
<!--
<div class="credits">
Website by <a href="https://stefba.com">Stef Barsch</a>.
</div>
<br>
-->
</main>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const address = location.host.substr(0, 9) + "@gmail.com"
    document.getElementById("mail").href = "mailto:" + address;
});
</script>
</html>
